@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background-color: #0B4176;
}

.signup-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin-top: 100px;
  max-width: 1200px;
  width: 100%;
}

.signup-page .sigup-logo {
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
}

.sigup-logo img {
  width: 488px;
  height: 507px;
}


.about-us-content {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  max-width: 650px;
  width: 100%;
}
 
.about-us-content h4 {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 36.31px;
  text-align: left;
}

.about-us-content h1 {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 60.51px;
  text-align: left;
}

.about-us-content p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 24.2px;
  text-align: left;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* This is the area for the mission statement */
.container-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background-color: #EFEFD0;
  color: #0E273F;
}

.mission {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin-top: 100px;
  max-width: 1200px;
  width: 100%;
}

.mission .mission-image {
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;

}

.mission-image img {
  width: 488px;
  height: 507px;
}


.mission-content {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  max-width: 650px;
  width: 100%;
  background-color: #EFEFD0;
}
 
.mission-content h4 {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 36.31px;
  text-align: left;
  color: #0E273F;
}

.mission-content h1 {
  font-size: 3.1rem;
  font-weight: 600;
  line-height: 60.51px;
  text-align: left;
  color: #0E273F;
}

.mission-content p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 24.2px;
  text-align: left;
  color: #0E273F;
}

.explore-section {
  background-image: url(./slide-2.png);
  padding: 50px 20px;
  text-align: center;
}

.container-2 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.explore-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.explore-section p {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5em;
  color: #666;
}

.explore-button {
  padding: 15px 30px;
  font-size: 1em;
  color: #fff;
  background-color: #0B4176;
  border: 1px solid #0B4176;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: #fff;
  color: #0B4176;
  border: 1px solid #0B4176;
}

@media (max-width: 600px) {
  .container {
      padding: 15px;
  }

  h2 {
      font-size: 1.5em;
  }

  p {
      font-size: 1em;
  }

  .explore-button {
      padding: 10px 20px;
      font-size: 0.9em;
  }
}

@media (max-width: 900px) {
  .signup-page .text {
    margin-bottom: 30px;
  }
}

@media (max-width: 460px) {
  .signup-page h1 {
    font-size: 3.5rem;
  }

  .signup-page p {
    font-size: 1.3rem;
  }

  form {
    padding: 15px;
  }
}
